openapi: 3.0.0
info:
  version: "5.6.1-1"
  title: Metahkg Api
  description: "# Introduction

    The Metahkg Api is a REST api written in fastify/typescript, with MongoDB as the database.
    <br>
    Json is returned on every request.
    <br>
    In this documentation, the base url is /api.

    # Authentication

    Authentication is done with a JWT token, which is sent to the server as a header.
    <br><br>
    ```
    Authorization: Bearer <JWT>
    ```
    <br><br>
    The JWT token is returned on login (/users/login) and verify email (/users/verify).
    <br>
    It is valid for 7 days.
    <br>
    If the JWT token is at least 2 days old, or some of the user info (e.g. user name) has changed, a new token
    is returned via the `token` response header on any requests.
    <br><br>
    ```
    token: <JWT>
    ```
    <br><br>
    Also see [a frontend implmentation using axios](https://gitlab.com/metahkg/metahkg-web/-/blob/master/src/lib/api.ts).

    # Limits

    If not otherwise specified, the limits would be:
    - body size: 1 MB
    - parameter length: 100
    - integers: 1 - 9999999999

    # Metahkg api client

    You can also use the [metahkg api client](https://gitlab.com/metahkg/metahkg-api) (in typescript/javascript) to access the metahkg api.
    The client is generated from this specification.
    "
  contact:
    email: wcyat@wcyat.me
  license:
    name: AGPL-3.0-or-later
    url: https://gitlab.com/metahkg/openapi-spec/-/blob/master/LICENSE.md

externalDocs:
  url: https://gitlab.com/metahkg/metahkg-server
  description: Server source code

servers:
  - url: https://metahkg.org/api
  - url: http://localhost:3001/api

tags:
  - name: users
    description: users operations
  - name: user
    description: information on specific users
  - name: me
    description: account operations
  - name: category
    description: category operations
  - name: threads
    description: query and get threads
  - name: thread
    description: thread operations
  - name: comment
    description: comment operations
  - name: admin
    description: admin operations

paths:
  /threads:
    get:
      security:
        - bearerAuth: []
      tags:
        - threads
      operationId: threads
      summary: Get threads
      description:
        "Get threads by ids. Authenticate to get [hidden](https://docs.metahkg.org/docs/customize/categories/hide) threads.
        Otherwise they would not be included in the response even if you specified the ids.
        [Source](https://gitlab.com/metahkg/metahkg-server/-/blob/5.6.1-1/src/routes/menu/threads.ts)"
      parameters:
        - in: query
          name: id
          description: array of thread ids
          required: true
          schema:
            type: array
            items:
              $ref: "#/components/schemas/Thread/properties/id"
            minItems: 1
            maxItems: 50
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ThreadMeta"
        "400":
          $ref: "#/components/responses/Invalid"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "502":
          $ref: "#/components/responses/BadGateway"
    post:
      security:
        - bearerAuth: []
      tags:
        - thread
      operationId: threadCreate
      summary: Create thread
      description: "Create a thread. Authentication is required.
        [Source](https://gitlab.com/metahkg/metahkg-server/-/blob/5.6.1-1/src/routes/threads/create.ts)"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
                - title
                - comment
                - rtoken
                - category
              properties:
                title:
                  $ref: "#/components/schemas/Thread/properties/title"
                comment:
                  $ref: "#/components/schemas/Comment/properties/comment"
                rtoken:
                  $ref: "#/components/schemas/rtoken"
                category:
                  $ref: "#/components/schemas/Category/properties/id"
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required:
                  - id
                properties:
                  id:
                    $ref: "#/components/schemas/Thread/properties/id"
        "400":
          $ref: "#/components/responses/Invalid"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/ForbiddenOrMuted"
        "404":
          $ref: "#/components/responses/CategoryNotFound"
        "409":
          description: Title already exists
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          $ref: "#/components/responses/RecaptchaInvalidOrTooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "502":
          $ref: "#/components/responses/BadGateway"
  /threads/search:
    get:
      security:
        - bearerAuth: []
      tags:
        - threads
      operationId: threadsSearch
      summary: Search threads
      description:
        "Search threads. Authenticate to include [hidden](https://docs.metahkg.org/docs/customize/categories/hide) threads.
        [Source](https://gitlab.com/metahkg/metahkg-server/-/blob/5.6.1-1/src/routes/threads/search.ts)"
      parameters:
        - name: q
          description: "Search query"
          in: query
          required: true
          schema:
            type: string
            minLength: 1
            maxLength: 200
        - in: query
          name: mode
          description: "Search mode. title or op"
          required: false
          schema:
            type: string
            enum:
              - title
              - op
            default: title
        - in: query
          name: sort
          description: "Sort threads by relevance, created or lastcomment"
          required: false
          schema:
            type: string
            enum:
              - relevance
              - created
              - lastcomment
            default: latest
        - $ref: "#/components/parameters/ThreadsPage"
        - $ref: "#/components/parameters/ThreadsLimit"
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ThreadMeta"
        "400":
          $ref: "#/components/responses/Invalid"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "502":
          $ref: "#/components/responses/BadGateway"
  /threads/{id}:
    get:
      security:
        - bearerAuth: []
      tags:
        - thread
      summary: Get thread
      description: "Get a selection of comments and other data from a thread.
        Authentication required if thread is [hidden](https://docs.metahkg.org/docs/customize/categories/hide).
        [Source](https://gitlab.com/metahkg/metahkg-server/-/blob/5.6.1-1/src/routes/threads/thread/thread.ts)"
      operationId: thread
      parameters:
        - $ref: "#/components/parameters/ThreadId"
        - in: query
          name: page
          description: Page number. Ignored if start and end both specified.
          required: false
          schema:
            type: integer
            format: int64
            minimum: 1
            default: 1
        - in: query
          name: limit
          description: Limit of comments per page.
          required: false
          schema:
            type: integer
            format: int64
            minimum: 1
            maximum: 50
            default: 25
        - in: query
          name: sort
          description: 'Sort comments by score / time / latest.
            "time" means sorting acsendingly by created time,
            "latest" means desceningly,
            "score" means sorting descendingly by `upvotes - downvotes`'
          required: false
          schema:
            type: string
            enum:
              - score
              - time
              - latest
            default: time
        - in: query
          name: start
          description: "Starting from comment id.
            If end is specified but start is not,
            start default to `(page - 1) * limit + 1`"
          required: false
          schema:
            type: integer
            format: int64
            minimum: 1
        - in: query
          name: end
          description: "Ending at comment id.
            Must be greater or equal to start.
            If start is specified but end is not,
            end defaults to `page * limit`"
          required: false
          schema:
            type: integer
            format: int64
            minimum: 1
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Thread"
        "400":
          $ref: "#/components/responses/Invalid"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/ThreadNotFound"
        "410":
          $ref: "#/components/responses/ThreadRemoved"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "502":
          $ref: "#/components/responses/BadGateway"
    patch:
      security:
        - bearerAuth: []
      tags:
        - thread
        - admin
      operationId: threadEdit
      summary: Edit thread
      description: "Edit thread. Admin privilege required.
        [Source](https://gitlab.com/metahkg/metahkg-server/-/blob/5.6.1-1/src/routes/threads/thread/actions/edit.ts)"
      parameters:
        - $ref: "#/components/parameters/ThreadId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
                - reason
              minProperties: 2
              properties:
                title:
                  $ref: "#/components/schemas/Thread/properties/title"
                category:
                  $ref: "#/components/schemas/Category/properties/id"
                reason:
                  $ref: "#/components/schemas/Admin/properties/edits/items/properties/reason"
      responses:
        "200":
          $ref: "#/components/responses/OK"
        "400":
          $ref: "#/components/responses/Invalid"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          description: Thread or category not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "410":
          $ref: "#/components/responses/ThreadRemoved"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "502":
          $ref: "#/components/responses/BadGateway"
    delete:
      security:
        - bearerAuth: []
      tags:
        - thread
        - admin
      operationId: threadDelete
      summary: Delete thread
      description: "Delete thread. Admin privilege required.
        [Source](https://gitlab.com/metahkg/metahkg-server/-/blob/5.6.1-1/src/routes/threads/thread/actions/delete.ts)"
      parameters:
        - $ref: "#/components/parameters/ThreadId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
                - reason
              properties:
                reason:
                  description: Reason for removing comment
                  type: string
                  maxLength: 100
                  minLength: 1
      responses:
        "200":
          $ref: "#/components/responses/OK"
        "400":
          $ref: "#/components/responses/Invalid"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/ThreadNotFound"
        "410":
          $ref: "#/components/responses/ThreadRemoved"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "502":
          $ref: "#/components/responses/BadGateway"
  /threads/{id}/images:
    get:
      tags:
        - thread
      security:
        - bearerAuth: []
      operationId: threadImages
      summary: Get thread images
      description: "
        Get the images of a thread. Duplicated images not included.
        Authentication required if thread is [hidden](https://docs.metahkg.org/docs/customize/categories/hide).
        [Source](https://gitlab.com/metahkg/metahkg-server/-/blob/5.6.1-1/src/routes/threads/thread/images.ts)"
      parameters:
        - $ref: "#/components/parameters/ThreadId"
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Images"
        "400":
          $ref: "#/components/responses/Invalid"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/ThreadNotFound"
        "410":
          $ref: "#/components/responses/ThreadRemoved"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "502":
          $ref: "#/components/responses/BadGateway"
  /threads/{id}/category:
    get:
      security:
        - bearerAuth: []
      tags:
        - thread
      operationId: threadCategory
      summary: Get thread category
      description: "
        Get the category of a thread.
        Authentication required if thread is [hidden](https://docs.metahkg.org/docs/customize/categories/hide).
        [Source](https://gitlab.com/metahkg/metahkg-server/-/blob/5.6.1-1/src/routes/threads/thread/category.ts)"
      parameters:
        - $ref: "#/components/parameters/ThreadId"
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Category"
        "400":
          $ref: "#/components/responses/Invalid"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/ThreadNotFound"
        "410":
          $ref: "#/components/responses/ThreadRemoved"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "502":
          $ref: "#/components/responses/BadGateway"
  /threads/{id}/pin:
    put:
      tags:
        - thread
        - comment
      operationId: threadPin
      security:
        - bearerAuth: []
      summary: Pin comment
      description: "Pin a comment in a thread. Authentication is required.
        Works only if the user is the original poster of the thread.
        [Source](https://gitlab.com/metahkg/metahkg-server/-/blob/5.6.1-1/src/routes/threads/thread/pin.ts)"
      parameters:
        - $ref: "#/components/parameters/ThreadId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
                - cid
              properties:
                cid:
                  $ref: "#/components/schemas/Comment/properties/id"
      responses:
        "200":
          $ref: "#/components/responses/OK"
        "400":
          $ref: "#/components/responses/Invalid"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/ThreadOrCommentNotFound"
        "410":
          $ref: "#/components/responses/CommentRemoved"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "502":
          $ref: "#/components/responses/BadGateway"
    delete:
      tags:
        - thread
        - comment
      operationId: threadUnpin
      security:
        - bearerAuth: []
      summary: Unpin comment
      description: "Unpin a pinned comment in a thread. Authentication is required.
        Works only if the user is the original poster of the thread.
        [Source](https://gitlab.com/metahkg/metahkg-server/-/blob/5.6.1-1/src/routes/threads/thread/unpin.ts)"
      parameters:
        - $ref: "#/components/parameters/ThreadId"
      responses:
        "200":
          $ref: "#/components/responses/OK"
        "400":
          $ref: "#/components/responses/Invalid"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/ThreadOrCommentNotFound"
        "409":
          description: "Comment not pinned"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "502":
          $ref: "#/components/responses/BadGateway"
  /threads/{id}/star:
    post:
      tags:
        - thread
        - me
      security:
        - bearerAuth: []
      operationId: threadStar
      summary: Star thread
      description: "Star a thread. Authentication is required.
        [Source](https://gitlab.com/metahkg/metahkg-server/-/blob/5.6.1-1/src/routes/threads/thread/actions/star.ts)"
      parameters:
        - $ref: "#/components/parameters/ThreadId"
      responses:
        "200":
          $ref: "#/components/responses/OK"
        "400":
          $ref: "#/components/responses/Invalid"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/ThreadNotFound"
        "409":
          description: Thread already starred
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "410":
          $ref: "#/components/responses/ThreadRemoved"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "502":
          $ref: "#/components/responses/BadGateway"
  /threads/{id}/unstar:
    post:
      tags:
        - thread
        - me
      security:
        - bearerAuth: []
      operationId: threadUnstar
      summary: Unstar thread
      description: "Unstar a thread. Authentication is required.
        [Source](https://gitlab.com/metahkg/metahkg-server/-/blob/5.6.1-1/src/routes/threads/thread/actions/unstar.ts)"
      parameters:
        - $ref: "#/components/parameters/ThreadId"
      responses:
        "200":
          $ref: "#/components/responses/OK"
        "400":
          $ref: "#/components/responses/Invalid"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/ThreadNotFound"
        "409":
          description: Thread not starred
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "410":
          $ref: "#/components/responses/ThreadRemoved"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "502":
          $ref: "#/components/responses/BadGateway"
  /threads/{id}/comments:
    post:
      tags:
        - comment
      operationId: commentCreate
      security:
        - bearerAuth: []
      summary: Create comment
      description: "Create a new comment in the specified thread.
        Authentication is required.
        [Source](https://gitlab.com/metahkg/metahkg-server/-/blob/5.6.1-1/src/routes/threads/thread/comments/create.ts)"
      parameters:
        - $ref: "#/components/parameters/ThreadId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
                - comment
                - rtoken
              properties:
                comment:
                  $ref: "#/components/schemas/Comment/properties/comment"
                rtoken:
                  $ref: "#/components/schemas/rtoken"
                quote:
                  $ref: "#/components/schemas/Comment/properties/id"
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required:
                  - id
                properties:
                  id:
                    $ref: "#/components/schemas/Comment/properties/id"
        "400":
          $ref: "#/components/responses/Invalid"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/ForbiddenOrMuted"
        "404":
          $ref: "#/components/responses/ThreadNotFound"
        "429":
          $ref: "#/components/responses/RecaptchaInvalidOrTooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "502":
          $ref: "#/components/responses/BadGateway"
  /threads/{id}/comments/{cid}:
    get:
      tags:
        - comment
      operationId: comment
      security:
        - bearerAuth: []
      summary: Get comment
      description: "Get a comment from a thread with thread id and comment id.
        Authentication required if thread is [hidden](https://docs.metahkg.org/docs/customize/categories/hide).
        [Source](https://gitlab.com/metahkg/metahkg-server/-/blob/5.6.1-1/src/routes/threads/thread/comments/comment.ts)"
      parameters:
        - $ref: "#/components/parameters/ThreadId"
        - $ref: "#/components/parameters/CommentId"
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Comment"
        "400":
          $ref: "#/components/responses/Invalid"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/ThreadOrCommentNotFound"
        "410":
          $ref: "#/components/responses/CommentRemoved"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "502":
          $ref: "#/components/responses/BadGateway"
    patch:
      security:
        - bearerAuth: []
      tags:
        - comment
        - admin
      operationId: commentEdit
      summary: Edit comment
      description: "Edit comment. Admin privilege required.
        [Source](https://gitlab.com/metahkg/metahkg-server/-/blob/5.6.1-1/src/routes/threads/thread/comments/actions/edit.ts)"
      parameters:
        - $ref: "#/components/parameters/ThreadId"
        - $ref: "#/components/parameters/CommentId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
                - reason
                - comment
              properties:
                comment:
                  $ref: "#/components/schemas/Comment/properties/comment"
                reason:
                  description: Reason for editing comment
                  type: string
                  maxLength: 100
                  minLength: 1
      responses:
        "200":
          $ref: "#/components/responses/OK"
        "400":
          $ref: "#/components/responses/Invalid"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/ThreadOrCommentNotFound"
        "410":
          $ref: "#/components/responses/CommentRemoved"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "502":
          $ref: "#/components/responses/BadGateway"
    delete:
      security:
        - bearerAuth: []
      tags:
        - comment
        - admin
      operationId: commentDelete
      summary: Delete comment
      description: "Delete comment. Admin privilege required.
        [Source](https://gitlab.com/metahkg/metahkg-server/-/blob/5.6.1-1/src/routes/threads/thread/comments/actions/delete.ts)"
      parameters:
        - $ref: "#/components/parameters/ThreadId"
        - $ref: "#/components/parameters/CommentId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
                - reason
              properties:
                reason:
                  description: Reason for removing comment
                  type: string
                  maxLength: 100
                  minLength: 1
      responses:
        "200":
          $ref: "#/components/responses/OK"
        "400":
          $ref: "#/components/responses/Invalid"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/ThreadOrCommentNotFound"
        "410":
          $ref: "#/components/responses/CommentRemoved"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "502":
          $ref: "#/components/responses/BadGateway"
  /threads/{id}/comments/{cid}/replies:
    get:
      tags:
        - comment
      operationId: commentReplies
      security:
        - bearerAuth: []
      summary: Get replies
      description: "Get the full comment objects of replies to the specified comment.
        Authentication required if thread is [hidden](https://docs.metahkg.org/docs/customize/categories/hide).
        [Source](https://gitlab.com/metahkg/metahkg-server/-/blob/5.6.1-1/src/routes/threads/thread/comments/replies.ts)"
      parameters:
        - $ref: "#/components/parameters/ThreadId"
        - $ref: "#/components/parameters/CommentId"
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                type: array
                items:
                  allOf:
                    - $ref: "#/components/schemas/Comment"
        "400":
          $ref: "#/components/responses/Invalid"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/ThreadOrCommentNotFound"
        "410":
          $ref: "#/components/responses/CommentRemoved"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "502":
          $ref: "#/components/responses/BadGateway"
  /threads/{id}/comments/{cid}/images:
    get:
      tags:
        - comment
      operationId: commentImages
      security:
        - bearerAuth: []
      summary: Get comment images.
      description: "Get list of images from a comment.
        Authentication required if thread is [hidden](https://docs.metahkg.org/docs/customize/categories/hide).
        [Source](https://gitlab.com/metahkg/metahkg-server/-/blob/5.6.1-1/src/routes/threads/thread/comments/images.ts)"
      parameters:
        - $ref: "#/components/parameters/ThreadId"
        - $ref: "#/components/parameters/CommentId"
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Images"
        "400":
          $ref: "#/components/responses/Invalid"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/ThreadOrCommentNotFound"
        "410":
          $ref: "#/components/responses/CommentRemoved"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "502":
          $ref: "#/components/responses/BadGateway"
  /threads/{id}/comments/{cid}/votes:
    get:
      tags:
        - comment
      security:
        - bearerAuth: []
      summary: Get votes
      operationId: commentVotes
      description:
        "Get votes on the comment (upvotes and downvotes). Authenticate to also get those in comments in hidden threads.
        [Source](https://gitlab.com/metahkg/metahkg-server/-/blob/5.6.1-1/src/routes/threads/thread/comments/votes.ts)"
      parameters:
        - $ref: "#/components/parameters/ThreadId"
        - $ref: "#/components/parameters/CommentId"
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  U:
                    $ref: "#/components/schemas/Comment/properties/U"
                  D:
                    $ref: "#/components/schemas/Comment/properties/D"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/ThreadOrCommentNotFound"
        "410":
          $ref: "#/components/responses/CommentRemoved"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "502":
          $ref: "#/components/responses/BadGateway"
  /threads/{id}/comments/{cid}/emotions:
    get:
      tags:
        - comment
      security:
        - bearerAuth: []
      summary: Get emotions
      operationId: commentEmotions
      description:
        "Get emotions on the comment. Authenticate to also get those in comments in hidden threads.
        [Source](https://gitlab.com/metahkg/metahkg-server/-/blob/5.6.1-1/src/routes/threads/thread/comments/emotions.ts)"
      parameters:
        - $ref: "#/components/parameters/ThreadId"
        - $ref: "#/components/parameters/CommentId"
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Comment/properties/emotions"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/ThreadOrCommentNotFound"
        "410":
          $ref: "#/components/responses/CommentRemoved"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "502":
          $ref: "#/components/responses/BadGateway"
  /threads/{id}/comments/{cid}/emotion/{emotion}/users:
    get:
      tags:
        - comment
      security:
        - bearerAuth: []
      operationId: commentEmotionUsers
      summary: Get users who expressed the emotion
      description:
        "Get users who expressed the emotion. Authenticate to also get those in comments in hidden threads.
        [Source](https://gitlab.com/metahkg/metahkg-server/-/blob/5.6.1-1/src/routes/threads/thread/comments/emotion/users.ts)"
      parameters:
        - $ref: "#/components/parameters/ThreadId"
        - $ref: "#/components/parameters/CommentId"
        - in: path
          required: true
          name: emotion
          description: emotion to search for users
          schema:
            $ref: "#/components/schemas/Emotion"
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/User"
        "400":
          $ref: "#/components/responses/Invalid"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/ThreadOrCommentNotFound"
        "410":
          $ref: "#/components/responses/CommentRemoved"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "502":
          $ref: "#/components/responses/BadGateway"
  /threads/{id}/comments/{cid}/vote:
    post:
      tags:
        - comment
      operationId: commentVote
      security:
        - bearerAuth: []
      summary: Vote on comment
      description: "Vote on a comment. Authentication is required.
        [Source](https://gitlab.com/metahkg/metahkg-server/-/blob/5.6.1-1/src/routes/threads/thread/comments/vote.ts)"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
                - vote
              properties:
                vote:
                  $ref: "#/components/schemas/Vote"
      parameters:
        - $ref: "#/components/parameters/ThreadId"
        - $ref: "#/components/parameters/CommentId"
      responses:
        "200":
          $ref: "#/components/responses/OK"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/ThreadOrCommentNotFound"
        "410":
          $ref: "#/components/responses/CommentRemoved"
        "429":
          description: "Already voted, or too many requests"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "502":
          $ref: "#/components/responses/BadGateway"
  /threads/{id}/comments/{cid}/emotion:
    post:
      tags:
        - comment
      operationId: commentEmotionSet
      security:
        - bearerAuth: []
      summary: "Emotion on comment"
      description: "Set your emotion on comment. Authentication is required.
        Warning: this is NOT anonymous.
        [Source](https://gitlab.com/metahkg/metahkg-server/-/blob/5.6.1-1/src/routes/threads/thread/comments/emotion/set.ts)"
      parameters:
        - $ref: "#/components/parameters/ThreadId"
        - $ref: "#/components/parameters/CommentId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
                - emotion
              properties:
                emotion:
                  $ref: "#/components/schemas/Emotion"
      responses:
        "200":
          $ref: "#/components/responses/OK"
        "400":
          $ref: "#/components/responses/Invalid"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/ThreadOrCommentNotFound"
        "410":
          $ref: "#/components/responses/CommentRemoved"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "502":
          $ref: "#/components/responses/BadGateway"
    delete:
      tags:
        - comment
      security:
        - bearerAuth: []
      operationId: commentEmotionDelete
      summary: Delete emotion
      description: "Delete the emotion set by the user. Authentication is required.
        [Source](https://gitlab.com/metahkg/metahkg-server/-/blob/5.6.1-1/src/routes/threads/thread/comments/emotion/delete.ts)"
      parameters:
        - $ref: "#/components/parameters/ThreadId"
        - $ref: "#/components/parameters/CommentId"
      responses:
        "200":
          $ref: "#/components/responses/OK"
        "400":
          $ref: "#/components/responses/Invalid"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/ThreadOrCommentNotFound"
        "409":
          description: Emotion doesn't exist
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "410":
          $ref: "#/components/responses/CommentRemoved"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "502":
          $ref: "#/components/responses/BadGateway"
  /me/logout:
    post:
      tags:
        - me
      operationId: meLogout
      security:
        - bearerAuth: []
      summary: Logout
      description: "Logout. Authentication is required.
        [Source](https://gitlab.com/metahkg/metahkg-server/-/blob/5.6.1-1/src/routes/me/logout.ts)"
      responses:
        "200":
          $ref: "#/components/responses/OK"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "502":
          $ref: "#/components/responses/BadGateway"
  /me/session:
    get:
      tags:
        - me
      operationId: meSession
      security:
        - bearerAuth: []
      summary: Get current logged in session
      description:
        "Get the current logged in session (mainly to check if the token is valid). Authorization is required.
        [Source](https://gitlab.com/metahkg/metahkg-server/-/blob/5.6.1-1/src/routes/me/session.ts)"
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Session"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "502":
          $ref: "#/components/responses/BadGateway"
  /me/sessions:
    get:
      tags:
        - me
      operationId: meSessions
      security:
        - bearerAuth: []
      summary: Get active sessions
      description: "Get active sessions. Authentication is required.
        [Source](https://gitlab.com/metahkg/metahkg-server/-/blob/5.6.1-1/src/routes/me/sessions/sessions.ts)"
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Session"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "502":
          $ref: "#/components/responses/BadGateway"
  /me/sessions/{id}:
    get:
      tags:
        - me
      operationId: meSessionsGet
      security:
        - bearerAuth: []
      summary: Get session by id
      description: "Get a session by session id. Authentication is required.
        [Source](https://gitlab.com/metahkg/metahkg-server/-/blob/5.6.1-1/src/routes/me/sessions/session.ts)"
      parameters:
        - in: path
          name: id
          required: true
          description: session id
          schema:
            $ref: "#/components/schemas/Session/properties/id"
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Session"
        "400":
          $ref: "#/components/responses/Invalid"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          description: Session not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "502":
          $ref: "#/components/responses/BadGateway"
    delete:
      tags:
        - me
      operationId: meSessionsRevoke
      security:
        - bearerAuth: []
      summary: Revoke session by id
      description: "Revoke a session by session id. Authentication is required.
        [Source](https://gitlab.com/metahkg/metahkg-server/-/blob/5.6.1-1/src/routes/me/sessions/revoke.ts)"
      parameters:
        - in: path
          name: id
          required: true
          description: session id
          schema:
            $ref: "#/components/schemas/Session/properties/id"
      responses:
        "200":
          $ref: "#/components/responses/OK"
        "400":
          $ref: "#/components/responses/Invalid"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          description: Session not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          description: Failed to revoke an older session
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "502":
          $ref: "#/components/responses/BadGateway"
  /me/notifications:
    get:
      tags:
        - me
      operationId: meNotifications
      security:
        - bearerAuth: []
      summary: Get notifications
      description: "Get your notifications in the past 7 days. Authentication is required.
        [Source](https://gitlab.com/metahkg/metahkg-server/-/blob/5.6.1-1/src/routes/me/notifications/notifications.ts)"
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Notification"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "502":
          $ref: "#/components/responses/BadGateway"
  /me/notifications/subscribe:
    post:
      tags:
        - me
      operationId: meNotificationsSubscribe
      security:
        - bearerAuth: []
      summary: Subscribe to notification
      description: "Subscribe to notification. Authentication is required.
        [Source](https://gitlab.com/metahkg/metahkg-server/-/blob/5.6.1-1/src/routes/me/notifications/subscribe.ts)"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              description: Endpoint and keys for push notifications.
              required:
                - endpoint
                - keys
              properties:
                endpoint:
                  type: string
                  format: uri
                  description: Push notification endpoint
                  maxLength: 1000
                  minLength: 1
                keys:
                  type: object
                  additionalProperties: false
                  required:
                    - auth
                    - p256dh
                  properties:
                    auth:
                      type: string
                      description: auth key
                      minLength: 22
                      maxLength: 22
                    p256dh:
                      type: string
                      description: p256dh key
                      minLength: 87
                      maxLength: 87
      responses:
        "200":
          $ref: "#/components/responses/OK"
        "400":
          $ref: "#/components/responses/Invalid"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "502":
          $ref: "#/components/responses/BadGateway"
  /me/notifications/unsubscribe:
    post:
      tags:
        - me
      operationId: meNotificationsUnsubscribe
      security:
        - bearerAuth: []
      summary: Unsubscribe to notification
      description: "Unsubscribe to notification. Authentication is required.
        [Source](https://gitlab.com/metahkg/metahkg-server/-/blob/5.6.1-1/src/routes/me/notifications/unsubscribe.ts)"
      responses:
        "200":
          $ref: "#/components/responses/OK"
        "400":
          $ref: "#/components/responses/Invalid"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "502":
          $ref: "#/components/responses/BadGateway"
  /me/blocked:
    get:
      tags:
        - me
      operationId: meBlocked
      security:
        - bearerAuth: []
      summary: Get blocked users
      description: "Get blocked users. Authentication is required.
        [Source](https://gitlab.com/metahkg/metahkg-server/-/blob/5.6.1-1/src/routes/me/blocked.ts)"
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/BlockedUser"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "502":
          $ref: "#/components/responses/BadGateway"
  /me/starred:
    get:
      tags:
        - me
      operationId: meStarred
      security:
        - bearerAuth: []
      summary: Get starred threads
      description: "Get starred threads. Authentication is required.
        [Source](https://gitlab.com/metahkg/metahkg-server/-/blob/5.6.1-1/src/routes/me/starred.ts)"
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Star"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "502":
          $ref: "#/components/responses/BadGateway"
  /me/votes/threads/{id}:
    get:
      tags:
        - me
      operationId: meVotesThread
      security:
        - bearerAuth: []
      summary: Get votes in thread
      description: "Get user's votes in a thread. Authentication is required.
        [Source](https://gitlab.com/metahkg/metahkg-server/-/blob/5.6.1-1/src/routes/me/votes.ts)"
      parameters:
        - $ref: "#/components/parameters/ThreadId"
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Votes"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/ThreadNotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "502":
          $ref: "#/components/responses/BadGateway"
  /categories:
    get:
      tags:
        - category
      operationId: categories
      summary: Get categories
      description: "Get categories.
        [Source](https://gitlab.com/metahkg/metahkg-server/-/blob/5.6.1-1/src/routes/categories.ts)"
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Category"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "502":
          $ref: "#/components/responses/BadGateway"
    post:
      security:
        - bearerAuth: []
      tags:
        - category
        - admin
      operationId: categoryCreate
      description: "Create category. Admin privilege required.
        [Source](https://gitlab.com/metahkg/metahkg-server/-/blob/5.6.1-1/src/routes/categories/create.ts)"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
                - name
              properties:
                name:
                  $ref: "#/components/schemas/Category/properties/name"
                hidden:
                  $ref: "#/components/schemas/Category/properties/hidden"
                tags:
                  $ref: "#/components/schemas/Category/properties/tags"
                pinned:
                  $ref: "#/components/schemas/Category/properties/pinned"
      responses:
        "200":
          $ref: "#/components/responses/OK"
        "400":
          $ref: "#/components/responses/Invalid"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          description: Category already exists
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "502":
          $ref: "#/components/responses/BadGateway"
  /categories/{id}:
    get:
      tags:
        - category
      operationId: category
      summary: Get category
      description: "Get a category by id.
        [Source](https://gitlab.com/metahkg/metahkg-server/-/blob/5.6.1-1/src/routes/categories/category.ts)"
      parameters:
        - $ref: "#/components/parameters/CategoryId"
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Category"
        "400":
          $ref: "#/components/responses/Invalid"
        "404":
          $ref: "#/components/responses/CategoryNotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "502":
          $ref: "#/components/responses/BadGateway"
    patch:
      tags:
        - category
        - admin
      security:
        - bearerAuth: []
      operationId: categoryEdit
      summary: Edit a category
      description: "Edit a category. Admin privilege required.
        [Source](https://gitlab.com/metahkg/metahkg-server/-/blob/5.6.1-1/src/routes/categories/actions/edit.ts)"
      parameters:
        - $ref: "#/components/parameters/CategoryId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              minProperties: 1
              properties:
                name:
                  $ref: "#/components/schemas/Category/properties/name"
                tags:
                  $ref: "#/components/schemas/Category/properties/tags"
                pinned:
                  $ref: "#/components/schemas/Category/properties/pinned"
      responses:
        "200":
          $ref: "#/components/responses/OK"
        "400":
          $ref: "#/components/responses/Invalid"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/CategoryNotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "502":
          $ref: "#/components/responses/BadGateway"
    delete:
      tags:
        - category
        - admin
      security:
        - bearerAuth: []
      operationId: categoryDelete
      summary: Delete a category
      description: "Delete a category. Admin privilege required.
        [Source](https://gitlab.com/metahkg/metahkg-server/-/blob/5.6.1-1/src/routes/categories/actions/delete.ts)"
      parameters:
        - $ref: "#/components/parameters/CategoryId"
      responses:
        "200":
          $ref: "#/components/responses/OK"
        "400":
          $ref: "#/components/responses/Invalid"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/CategoryNotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "502":
          $ref: "#/components/responses/BadGateway"
  /categories/{id}/threads:
    get:
      security:
        - bearerAuth: []
      tags:
        - category
        - threads
      operationId: categoryThreads
      summary: Get threads in a category
      description: "Get threads in a category,
        Authentication required if thread is [hidden](https://docs.metahkg.org/docs/customize/categories/hide).
        [Source](https://gitlab.com/metahkg/metahkg-server/-/blob/5.6.1-1/src/routes/categories/threads.ts)"
      parameters:
        - name: id
          in: path
          description: category id
          required: true
          schema:
            $ref: "#/components/schemas/Category/properties/id"
        - name: sort
          description: "Sort threads by latest or viral"
          in: query
          required: false
          schema:
            type: string
            enum:
              - latest
              - viral
            default: latest
        - $ref: "#/components/parameters/ThreadsPage"
        - $ref: "#/components/parameters/ThreadsLimit"
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ThreadMeta"
        "400":
          $ref: "#/components/responses/Invalid"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/CategoryNotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "502":
          $ref: "#/components/responses/BadGateway"
  /users/{id}:
    get:
      tags:
        - user
      operationId: userProfile
      summary: Get user profile
      description: "Get user profile.
        [Source](https://gitlab.com/metahkg/metahkg-server/-/blob/5.6.1-1/src/routes/users/user/profile.ts)"
      parameters:
        - $ref: "#/components/parameters/UserId"
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/User"
                  - type: object
                    additionalProperties: false
                    required:
                      - count
                    properties:
                      count:
                        type: integer
                        minimum: 0
                        description: Number of threads created by user
                      createdAt:
                        type: string
                        format: date-time
                        description: Date and time when user was created
        "400":
          $ref: "#/components/responses/Invalid"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/UserNotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "502":
          $ref: "#/components/responses/BadGateway"
    patch:
      tags:
        - user
        - me
      operationId: userEdit
      security:
        - bearerAuth: []
      summary: Edit user info
      description: "Edit user info. Authentication is required.
        The user requesting editing must have the same user id as the user info.
        [Source](https://gitlab.com/metahkg/metahkg-server/-/blob/5.6.1-1/src/routes/users/user/actions/edit.ts)"
      parameters:
        - $ref: "#/components/parameters/UserId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              minProperties: 1
              properties:
                name:
                  $ref: "#/components/schemas/User/properties/name"
                sex:
                  $ref: "#/components/schemas/User/properties/sex"
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Token"
        "400":
          $ref: "#/components/responses/Invalid"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          description: Name already taken
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "502":
          $ref: "#/components/responses/BadGateway"
  /users/{id}/name:
    get:
      tags:
        - user
      operationId: userName
      summary: Get user name
      description: "Get user name.
        [Source](https://gitlab.com/metahkg/metahkg-server/-/blob/5.6.1-1/src/routes/users/user/name.ts)"
      parameters:
        - $ref: "#/components/parameters/UserId"
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required:
                  - name
                properties:
                  name:
                    $ref: "#/components/schemas/User/properties/name"
        "400":
          $ref: "#/components/responses/Invalid"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/UserNotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "502":
          $ref: "#/components/responses/BadGateway"
  /users/{id}/avatar:
    get:
      tags:
        - user
      operationId: userAvatar
      summary: Get user avatar
      description:
        "Get user avatar. Returns the avatar or a 404 error if avatar is not found.
        [Source](https://gitlab.com/metahkg/metahkg-server/-/blob/5.6.1-1/src/routes/users/user/avatar.ts)"
      parameters:
        - $ref: "#/components/parameters/UserId"
      responses:
        "200":
          description: Success
          content:
            image/png:
              schema:
                type: string
                format: binary
        "400":
          $ref: "#/components/responses/Invalid"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          description: User or avatar not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "502":
          $ref: "#/components/responses/BadGateway"
    put:
      tags:
        - user
        - me
      operationId: userAvatarUpload
      security:
        - bearerAuth: []
      summary: Upload avatar
      description:
        "Upload avatar. Authentication is required. The user requesting must have the same user id.
        [Source](https://gitlab.com/metahkg/metahkg-server/-/blob/5.6.1-1/src/routes/users/user/avatar/upload.ts)"
      parameters:
        - $ref: "#/components/parameters/UserId"
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              additionalProperties: false
              required:
                - avatar
              properties:
                avatar:
                  type: string
                  format: binary
                  description: Avatar image. Must be smaller than 2MB. Png, jpg, jpeg, jfif, svg, gif, webp are supported.
                  maxLength: 1048576
      responses:
        "200":
          $ref: "#/components/responses/OK"
        "400":
          $ref: "#/components/responses/Invalid"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "413":
          description: File too large
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "415":
          description: File type not supported
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "422":
          description: File unprocessable
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "502":
          $ref: "#/components/responses/BadGateway"
    delete:
      tags:
        - user
        - me
      operationId: userAvatarDelete
      security:
        - bearerAuth: []
      summary: Delete avatar
      description:
        "Delete avatar. Authentication is required. The user requesting must have the same user id or is an admin.
        [Source](https://gitlab.com/metahkg/metahkg-server/-/blob/5.6.1-1/src/routes/users/user/avatar/delete.ts)"
      parameters:
        - $ref: "#/components/parameters/UserId"
      responses:
        "200":
          $ref: "#/components/responses/OK"
        "400":
          $ref: "#/components/responses/Invalid"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          description: Avatar not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "502":
          $ref: "#/components/responses/BadGateway"
  /users/{id}/threads:
    get:
      security:
        - bearerAuth: []
      tags:
        - user
        - threads
      operationId: userThreads
      summary: Get threads created by a user
      description:
        "Get threads created by a user. Authenticate to also get [hidden](https://docs.metahkg.org/docs/customize/categories/hide) threads.
        [Source](https://gitlab.com/metahkg/metahkg-server/-/blob/5.6.1-1/src/routes/users/user/threads.ts)"
      parameters:
        - $ref: "#/components/parameters/UserId"
        - in: query
          name: sort
          description: "Sort threads by created or lastcomment"
          required: false
          schema:
            type: string
            enum:
              - created
              - lastcomment
            default: created
        - $ref: "#/components/parameters/ThreadsPage"
        - $ref: "#/components/parameters/ThreadsLimit"
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ThreadMeta"
        "400":
          $ref: "#/components/responses/Invalid"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/UserNotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "502":
          $ref: "#/components/responses/BadGateway"
  /users/{id}/block:
    post:
      tags:
        - user
        - me
      operationId: userBlock
      security:
        - bearerAuth: []
      summary: Block user
      description: "Block user. Authentication is required.
        [Source](https://gitlab.com/metahkg/metahkg-server/-/blob/5.6.1-1/src/routes/users/user/actions/block.ts)"
      parameters:
        - $ref: "#/components/parameters/UserId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                reason:
                  type: string
                  minLength: 0
                  maxLength: 100
                  description: Reason for blocking user
      responses:
        "200":
          $ref: "#/components/responses/OK"
        "400":
          $ref: "#/components/responses/Invalid"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/UserNotFound"
        "409":
          description: "User already blocked"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "502":
          $ref: "#/components/responses/BadGateway"
  /users/{id}/unblock:
    post:
      tags:
        - user
        - me
      operationId: userUnblock
      security:
        - bearerAuth: []
      summary: Unblock user
      description: "Unblock user. Authentication is required.
        [Source](https://gitlab.com/metahkg/metahkg-server/-/blob/5.6.1-1/src/routes/users/user/actions/unblock.ts)"
      parameters:
        - $ref: "#/components/parameters/UserId"
      responses:
        "200":
          $ref: "#/components/responses/OK"
        "400":
          $ref: "#/components/responses/Invalid"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          description: "User not blocked"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "502":
          $ref: "#/components/responses/BadGateway"
  /users/{id}/mute:
    post:
      security:
        - bearerAuth: []
      tags:
        - user
        - admin
      operationId: userMute
      summary: Mute user
      description: "Mute the user. Admin privilege required.
        The user would not be able to create threads or comments after being muted.
        [Source](https://gitlab.com/metahkg/metahkg-server/-/blob/5.6.1-1/src/routes/users/user/actions/mute.ts)"
      parameters:
        - $ref: "#/components/parameters/UserId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
                - reason
              properties:
                reason:
                  description: Reason for muting the user
                  type: string
                  maxLength: 100
                  minLength: 1
                exp:
                  description: expiration (optional)
                  type: string
                  format: date-time
      responses:
        "200":
          $ref: "#/components/responses/OK"
        "400":
          $ref: "#/components/responses/Invalid"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/UserNotFound"
        "409":
          description: User is an admin. Cannot mute.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "502":
          $ref: "#/components/responses/BadGateway"
  /users/{id}/unmute:
    post:
      security:
        - bearerAuth: []
      tags:
        - user
        - admin
      operationId: userUnmute
      summary: Unmute user
      description: "Unmute the user. Admin privilege required.
        [Source](https://gitlab.com/metahkg/metahkg-server/-/blob/5.6.1-1/src/routes/users/user/actions/unmute.ts)"
      parameters:
        - $ref: "#/components/parameters/UserId"
      responses:
        "200":
          $ref: "#/components/responses/OK"
        "400":
          $ref: "#/components/responses/Invalid"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/UserNotFound"
        "409":
          description: User not muted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "502":
          $ref: "#/components/responses/BadGateway"
  /users/{id}/ban:
    post:
      security:
        - bearerAuth: []
      tags:
        - user
        - admin
      operationId: userBan
      summary: Ban user
      description: "Ban the user. Admin privilege required.
        The user would not be able to use any api requests after bring banned.
        [Source](https://gitlab.com/metahkg/metahkg-server/-/blob/5.6.1-1/src/routes/users/user/actions/ban.ts)"
      parameters:
        - $ref: "#/components/parameters/UserId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
                - reason
              properties:
                reason:
                  description: Reason for banning the user
                  type: string
                  maxLength: 100
                  minLength: 1
                exp:
                  description: expiration (optional)
                  type: string
                  format: date-time
      responses:
        "200":
          $ref: "#/components/responses/OK"
        "400":
          $ref: "#/components/responses/Invalid"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/UserNotFound"
        "409":
          description: User is an admin. Cannot ban.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "502":
          $ref: "#/components/responses/BadGateway"
  /users/{id}/unban:
    post:
      security:
        - bearerAuth: []
      tags:
        - user
        - admin
      operationId: userUnban
      summary: Unban user
      description: "Unban the user. Admin privilege required.
        [Source](https://gitlab.com/metahkg/metahkg-server/-/blob/5.6.1-1/src/routes/users/user/actions/unban.ts)"
      parameters:
        - $ref: "#/components/parameters/UserId"
      responses:
        "200":
          $ref: "#/components/responses/OK"
        "400":
          $ref: "#/components/responses/Invalid"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/UserNotFound"
        "409":
          description: User not banned
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "502":
          $ref: "#/components/responses/BadGateway"
  /users/login:
    post:
      tags:
        - users
      operationId: usersLogin
      summary: Login
      description: "Login with username/email and password. A jwt token is returned.
        [Source](https://gitlab.com/metahkg/metahkg-server/-/blob/5.6.1-1/src/routes/users/login.ts)"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
                - name
                - password
              properties:
                name:
                  description: Username or email
                  oneOf:
                    - $ref: "#/components/schemas/User/properties/name"
                    - $ref: "#/components/schemas/email"
                password:
                  $ref: "#/components/schemas/hashedPwd"
                sameIp:
                  $ref: "#/components/schemas/sameIp"
      responses:
        "200":
          $ref: "#/components/responses/Token"
        "400":
          $ref: "#/components/responses/Invalid"
        "401":
          description: "Login failed"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          description: "Email verification needed"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "502":
          $ref: "#/components/responses/BadGateway"
  /users/register:
    post:
      tags:
        - users
      summary: Register
      description:
        "Register an account. A verification email is sent to the email address after the request completes.
        [Source](https://gitlab.com/metahkg/metahkg-server/-/blob/5.6.1-1/src/routes/users/register.ts)"
      operationId: usersRegister
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
                - name
                - email
                - password
                - sex
                - rtoken
              properties:
                name:
                  $ref: "#/components/schemas/User/properties/name"
                email:
                  $ref: "#/components/schemas/email"
                password:
                  $ref: "#/components/schemas/hashedPwd"
                sex:
                  $ref: "#/components/schemas/User/properties/sex"
                rtoken:
                  $ref: "#/components/schemas/rtoken"
                inviteCode:
                  description: "Invite code, required if admin set register=invite
                    See [register mode](https://docs.metahkg.org/docs/customize/registermode)"
                  type: string
                  minLength: 1
                  maxLength: 10
                  example: "1234567890"
      responses:
        "200":
          description: Success, verification email sent.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OK"
        "400":
          description: Bad request / registration disabled / invalid invite code
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          description: "Email or username already in use"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "502":
          $ref: "#/components/responses/BadGateway"
  /users/verify:
    post:
      tags:
        - users
      operationId: usersVerify
      summary: Verify email
      description: "Verify email. A jwt token is returned.
        [Source](https://gitlab.com/metahkg/metahkg-server/-/blob/5.6.1-1/src/routes/users/verify.ts)"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
                - email
                - code
              properties:
                email:
                  $ref: "#/components/schemas/email"
                code:
                  type: string
                  minLength: 30
                  maxLength: 30
                  description: "Verification code sent to email"
                  example: "123456789012345678901234567890"
                sameIp:
                  $ref: "#/components/schemas/sameIp"
      responses:
        "200":
          $ref: "#/components/responses/Token"
        "400":
          $ref: "#/components/responses/Invalid"
        "401":
          description: Code incorrect or expired, or email not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "502":
          $ref: "#/components/responses/BadGateway"
  /users/resend:
    post:
      tags:
        - users
      operationId: usersResend
      summary: Resend verification email
      description: "Resend verification email.
        [Source](https://gitlab.com/metahkg/metahkg-server/-/blob/5.6.1-1/src/routes/users/resend.ts)"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
                - email
                - rtoken
              properties:
                email:
                  $ref: "#/components/schemas/email"
                rtoken:
                  $ref: "#/components/schemas/rtoken"
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OK"
        "400":
          $ref: "#/components/responses/Invalid"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          description: Email not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          $ref: "#/components/responses/RecaptchaInvalidOrTooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "502":
          $ref: "#/components/responses/BadGateway"
  /users/forgot:
    post:
      tags:
        - users
      operationId: usersForgot
      summary: Forgot password
      description:
        "Send a password reset email. A limit of two resets per day is enforced.
        [Source](https://gitlab.com/metahkg/metahkg-server/-/blob/5.6.1-1/src/routes/users/forgot.ts)"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
                - email
                - rtoken
              properties:
                email:
                  $ref: "#/components/schemas/email"
                rtoken:
                  $ref: "#/components/schemas/rtoken"
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OK"
        "400":
          $ref: "#/components/responses/Invalid"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/UserNotFound"
        "429":
          $ref: "#/components/responses/RecaptchaInvalidOrTooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "502":
          $ref: "#/components/responses/BadGateway"
  /users/reset:
    post:
      tags:
        - users
      operationId: usersReset
      summary: Reset password
      description: "Reset password. A jwt token is returned.
        [Source](https://gitlab.com/metahkg/metahkg-server/-/blob/5.6.1-1/src/routes/users/reset.ts)"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
                - email
                - code
                - password
              properties:
                email:
                  $ref: "#/components/schemas/email"
                code:
                  type: string
                  minLength: 30
                  maxLength: 30
                  description: "Verification code sent to email"
                  example: "123456789012345678901234567890"
                password:
                  $ref: "#/components/schemas/hashedPwd"
      responses:
        "200":
          $ref: "#/components/responses/Token"
        "400":
          $ref: "#/components/responses/Invalid"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/UserNotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "502":
          $ref: "#/components/responses/BadGateway"
components:
  parameters:
    ThreadId:
      in: path
      name: id
      description: thread id
      required: true
      schema:
        $ref: "#/components/schemas/Thread/properties/id"
    CommentId:
      in: path
      name: cid
      required: true
      description: comment id
      schema:
        $ref: "#/components/schemas/Comment/properties/id"
    CategoryId:
      name: id
      in: path
      description: category id
      required: true
      schema:
        $ref: "#/components/schemas/Category/properties/id"
    UserId:
      name: id
      in: path
      description: user id
      required: true
      schema:
        $ref: "#/components/schemas/User/properties/id"
    ThreadsPage:
      in: query
      name: page
      description: page number
      required: false
      schema:
        type: integer
        format: int64
        minimum: 1
        default: 1
    ThreadsLimit:
      in: query
      name: limit
      description: number of threads per page
      required: false
      schema:
        type: integer
        format: int64
        minimum: 1
        maximum: 50
        default: 25
  responses:
    OK:
      description: OK
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/OK"
    Token:
      description: Success
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Token"
    Invalid:
      description: "Invalid request"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    Unauthorized:
      description: "Unauthorized"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    RecaptchaInvalid:
      description: "Recaptcha token invalid"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    TooManyRequests:
      description: "Too many requests"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    RecaptchaInvalidOrTooManyRequests:
      description: "Recaptcha token invalid, or too many requests"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    Forbidden:
      description: "Forbidden: permission denied or user banned by an admin"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    ForbiddenOrMuted:
      description: "Forbidden: permission denied or user muted/banned by an admin"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    ThreadNotFound:
      description: "Thread not found"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    ThreadRemoved:
      description: "Thread removed"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    ThreadOrCommentNotFound:
      description: "Thread or comment not found"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    UserNotFound:
      description: "User not found"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    CategoryNotFound:
      description: "Category not found"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    CommentRemoved:
      description: "Comment removed"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    InternalServerError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    BadGateway:
      description: Bad gateway
      content:
        text/plain:
          schema:
            type: string
            description: "Server error"
        text/html:
          schema:
            type: string
            description: "Server error"
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
  schemas:
    Emotion:
      type: string
      description: a single emoji
    OK:
      type: object
      additionalProperties: false
      required:
        - success
      properties:
        success:
          type: boolean
          enum:
            - true
    Token:
      type: object
      additionalProperties: false
      required:
        - token
      properties:
        token:
          description: jwt token
          type: string
          example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyIjp7ImlkIjoiNWQwZjMwZjEtZjQwMC
    Error:
      type: object
      additionalProperties: false
      required:
        - statusCode
        - error
      properties:
        statusCode:
          type: integer
          format: int64
          description: status code
          example: 400
        error:
          type: string
          description: error message
          example: "Error"
    Notification:
      type: object
      additionalProperties: false
      required:
        - title
        - createdAt
        - options
      properties:
        title:
          type: string
          description: title of the notification
        createdAt:
          type: string
          format: date-time
          description: when the notification was created
        options:
          type: object
          additionalProperties: false
          required:
            - body
            - data
          properties:
            body:
              type: string
              description: body of the notification
            data:
              type: object
              additionalProperties: false
              required:
                - type
                - url
                - threadId
              properties:
                type:
                  type: string
                  description: type of the notification
                  enum:
                    - thread
                    - comment
                    - reply
                    - emotion
                    - votes
                url:
                  type: string
                  format: uri
                  description: the link that should be opened on click
                threadId:
                  $ref: "#/components/schemas/Thread/properties/id"
                commentId:
                  $ref: "#/components/schemas/Comment/properties/id"
    Vote:
      type: string
      description: Vote. "U" means upvote. "D" means downvote.
      enum:
        - "U"
        - "D"
    Votes:
      type: array
      description: User's votes in a thread
      items:
        type: object
        additionalProperties: false
        required:
          - cid
          - vote
        properties:
          cid:
            $ref: "#/components/schemas/Comment/properties/id"
          vote:
            $ref: "#/components/schemas/Vote"
    User:
      type: object
      additionalProperties: false
      required:
        - id
        - name
        - sex
        - role
      properties:
        id:
          type: integer
          minimum: 1
          format: int64
          description: user id
        name:
          type: string
          description: User name
          example: "wcyat"
          minLength: 1
          maxLength: 15
          pattern: ^\S{1,15}$
        sex:
          type: string
          enum:
            - M
            - F
        role:
          type: string
          enum:
            - admin
            - user
    Session:
      type: object
      additionalProperties: false
      required:
        - id
        - createdAt
        - exp
        - userAgent
      properties:
        id:
          type: string
          description: 30-digit random id
          minLength: 30
          maxLength: 30
        createdAt:
          type: string
          format: date-time
          description: session created date
        exp:
          type: string
          format: date-time
          description: session expire date
        userAgent:
          type: string
          description: user agent used to create the session
        sameIp:
          type: boolean
          description: whether the session is restricted to a same ip
    Admin:
      type: object
      additionalProperties: false
      description: Admin actions / responses
      properties:
        edits:
          type: array
          items:
            type: object
            additionalProperties: false
            required:
              - admin
              - reason
              - date
            properties:
              admin:
                $ref: "#/components/schemas/User"
              reason:
                description: reason for editing
                type: string
                maxLength: 100
                minLength: 1
              date:
                type: string
                format: date-time
        replies:
          description: admin replies
          type: array
          items:
            type: object
            additionalProperties: false
            required:
              - admin
              - reply
              - date
            properties:
              admin:
                $ref: "#/components/schemas/User"
              reply:
                description: admin's reply
                type: string
              date:
                type: string
                format: date-time
    BlockedUser:
      description: Blocked user (user object with block date and reason)
      allOf:
        - $ref: "#/components/schemas/User"
        - type: object
          additionalProperties: false
          required:
            - date
            - reason
          properties:
            date:
              type: string
              format: date-time
              description: block date
              example: "2020-01-01T00:00:00.000Z"
            reason:
              type: string
              description: block reason
              example: "spam"
              minLength: 0
              maxLength: 100
    email:
      type: string
      format: email
      description: user email
      example: "metahkg@metahkg.org"
    hashedPwd:
      type: string
      description: user password, hashed with sha256
      example: "5ebe2294ecd0e0f08eab7690d2a6ee69f3d1d740960fb9b1b5ec9fb8f5d4ec2a"
      minLength: 64
      maxLength: 64
    sameIp:
      type: boolean
      description: restrict the session to a same ip
    Category:
      type: object
      additionalProperties: false
      required:
        - id
        - name
      properties:
        id:
          type: integer
          minimum: 1
          format: int64
          description: category id
        name:
          type: string
          description: category name
          maxLength: 15
          example: "Chit-chat"
        tags:
          type: array
          description: category tags
          items:
            type: string
            maxLength: 15
        hidden:
          type: boolean
          description: category is hidden
        pinned:
          type: boolean
          description: category is pinned
    Image:
      type: object
      additionalProperties: false
      required:
        - cid
        - src
      properties:
        cid:
          $ref: "#/components/schemas/Comment/properties/id"
        src:
          type: string
          format: uri
          description: image source url
          example: "https://images.unsplash.com/photo-1459478309853-2c33a60058e7"
    Images:
      type: array
      description: List of images in comments. Duplicated images (with the same url) are not included.
      items:
        $ref: "#/components/schemas/Image"
    RemovedComment:
      type: object
      additionalProperties: false
      required:
        - id
        - removed
      properties:
        id:
          $ref: "#/components/schemas/Comment/properties/id"
        removed:
          type: boolean
          enum:
            - true
    Comment:
      type: object
      additionalProperties: false
      description: Comment object
      required:
        - id
        - user
        - comment
        - text
        - images
        - createdAt
        - slink
      properties:
        id:
          type: integer
          format: int64
          minimum: 1
          description: comment id
        user:
          description: user created the comment
          allOf:
            - $ref: "#/components/schemas/User"
        comment:
          type: string
          minLength: 1
          maxLength: 50000
          description: comment in stringified html
          example: "<p>This is a comment</p>"
        text:
          type: string
          description: comment converted to plain text
          example: "This is a comment"
        images:
          type: array
          items:
            $ref: "#/components/schemas/Image/properties/src"
        createdAt:
          type: string
          format: date-time
        slink:
          type: string
          format: uri
          description: shortened link to the comment
          example: "https://l.metahkg.org/p994Nw2"
        quote:
          allOf:
            - $ref: "#/components/schemas/CommentC"
            - description: The whole comment object of the quoted comment.
              example:
                id: 1
                user:
                  id: 1
                  name: "John Doe"
                  sex: "M"
                  createdAt: "2020-01-01T00:00:00Z"
                comment: "<p>This is a comment</p>"
                text: "This is a comment"
                createdAt: "2020-01-01T00:00:00Z"
                slink: "https://l.metahkg.org/p994Nw2"
        D:
          type: integer
          format: int64
          minimum: 0
          description: number of downvotes
        U:
          type: integer
          format: int64
          minimum: 0
          description: number of upvotes
[...]
