#copy this file to .env
DB_URI=mongodb://password:username@127.0.0.1 #mongodb connection string
mailgun_key=<mailgun-api-key>
domain=metahkg.org #change to your domain
port=3000 #change to the port you want
recaptchasecret=<recaptcha-secret>
# "invite" | "none" | "normal"
signup=normal
jwtKey=<your-jwt-key>
# used to sign jwts, plese use a strong one