#copy this file to .env
DB_URI=mongodb://password:username@127.0.0.1 #mongodb connection string
mailgun_key=<mailgun-api-key>
domain=.metahkg.wcyat.me #change to your domain
port=3000 #change to the port you want
hcaptchasecret=<hcaptcha-secret>
awsRegion=ap-northeast-1
s3Bucket=metahkg