#copy this file to .env
DB_URI=mongodb://password:username@127.0.0.1 #mongodb connection string
mailgun_key=<mailgun-api-key>
domain=metahkg.org #change to your domain
port=3000 #change to the port you want
recaptchasecret=<recaptcha-secret>
awsRegion=ap-northeast-1
s3Bucket=metahkg
# "invite" | "none" | "normal"
signup=normal